service_account_key_file = "key.json.example"
cloud_id                 = "a"
folder_id                = "b"
zone                     = "ru-central1-a"
image_id                 = "d"
subnet_id                = "e"
public_key_path          = "~/.ssh/id_ed25519.pub"
private_key_path         = "~/.ssh/id_ed25519"
app_disk_image           = "f"
db_disk_image            = "g"
